/*

1. Layout
2. Generic elements
3. Specific code

*/

@font-face { font-family: "Oxygen-Regular"; 	src: url('/font/Oxygen-Regular.ttf'); }

/*****************************************************************************************

	LAYOUT

/*****************************************************************************************/

body {
	margin : 0px ;
	background:url(/images/body-bg.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
	overflow-x:hidden; 
}

#content {
	z-index:2;
	margin : 0px auto 0px auto;
	width:1280px;
	position:relative;
	overflow : auto;
	margin-bottom : 35px;
}

#header {
	height: 50px;
	top : 0px;
	position: fixed;
	width: 1280px;
	z-index: 10;
}

.container-main {
    width:765px;
    float:left;
    margin-top: 12px;
}

.container-left {
	width:255px;
	float:left;
	z-index:2;
	height:inherit;
	margin-top:13px;
	margin-bottom:0px;
	margin-right: 15px;
}

.container-right{
    float: left;
    height: inherit;
    margin-top:27px;
    width: 240px;
}

/*****************************************************************************************

	GENERIC ELEMENTS

/*****************************************************************************************/

/* buttons ---------------------------------------------*/

button, .button{ min-width : 120px; background : #FAFAFA; border : 1px solid #DCDCDC; padding : 10px; text-align : center; font : bold 14px arial; 
color : #6E6E6E; box-shadow: 0px 0px 3px rgba(107,107,107, 0.3); border-radius:3px;cursor: pointer; }

button:not(.inactive):hover, .button:hover { background : #DDDDDD; border : 1px solid #B1B1B1; color : #333333; box-shadow: 0px 0px 3px rgba(0,86,156, 0.6); }

button.inactive { color : #DCDCDC; cursor: default; }

/* HEADER  +  MENU  ************************************************************/

#menu {	
	height:50px;
	background-color: #EEF2F6;
	border-bottom: 3px solid #9C9C9C;
	position: relative;
}

#path { 
	overflow: hidden; 
}

#path ul {
 	margin:0;
 	list-style-type:none;
}

#path ul { 
	position : relative; 
}

#path ul li {
	float:left;
	padding : 0;
	margin : 0;
	background-color:#3C3C3C;
	border-bottom: 3px solid #F772BD;
	text-transform: lowercase;
	color : white;
	display : inline-block;
	position : relative;
	overflow: auto;
}

#path ul li .type { display:block; line-height:20px; font-size : 11px; font-family :  "Oxygen-Regular","Bitstream Vera Sans", Sans-serif; padding : 0 5px; }
#path ul li .name { display:block; line-height:30px; color : white; text-decoration : none; font-size : 16px; letter-spacing : 2px; font-family: "Oxygen-Regular"; padding : 0 8px; }
#path ul li:hover { cursor: pointer; }

#path ul li.home { position : absolute; top : 0; left : 0; width : 60px; z-index : 1; overflow : hidden; }

#path ul .Project { border-bottom:3px solid #32B9E5; }
#path ul .Project .type { background-color:#235BBE; border-color : #9c96a7; }

#path ul .user { border-bottom:3px solid #F3BE00; }
#path ul .user .type { background-color: #EE6E21; }

#path ul .Project + li .name { background-color : #777777; }

#path ul .Image { border-bottom:3px solid #F5A4DA; }
#path ul .Image .type { background-color: #E62E60; }

#path ul .Analysis { border-bottom:3px solid #D0D644; }
#path ul .Analysis .type { background-color: #34B02C; }

#path ul .Message { border-bottom:3px solid #FFFB61; }
#path ul .Message .type { background-color: #FFD505; }

#path ul .dashboard .type { display : none; }		
#path ul .dashboard .name { line-height : 50px; }		

#path .home { padding : 0; border : 0; }

#path ul .add-friend-project {height: 34px; width: 34px; margin-left: 10px;background: url("/images/add2.png") no-repeat; border: none;margin-top:15px;}
#path ul .add-friend-project:hover {height: 34px; width: 34px; margin-left: 10px;background: url("/images/add-hover2.png") no-repeat; border: none;margin-top:15px;cursor: pointer;}


#user {
	position : absolute;
	top : 0;
	right : 0;
	padding : 0 7px;
	display : inline-block;
	border-bottom : 3px solid #9C96A7;
	background: #3C3C3C;		
	background-position: 65px 38px;	
}

#user a {
	color: #FFFFFF;
    display: block;
    font-family: "Oxygen-Regular";
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 50px;
   	text-decoration: none;
	text-transform: lowercase;
}

#user a:hover {
	text-decoration:underline;
}

#user .btn{
	background:#3C3C3C;
	color:#F9F9F9;
	border : 1px solid #303030;
}

#user .btn:hover{
	background:#2f2f2f;
	color:#FFFFFF;
	border : 1px solid #161616;
}

#user img {
    border: 5px solid #626262;
    float: left;
    height: 40px;
    margin-left: -7px;
    margin-right: 10px;
    width: 40px;
}


/* HELP DOCUMENTATION  ************************************************************/

.help {
	z-index:3;
	position: fixed;
	display:none;
	top: 80px;
	right: 0;
	width: 160px;
	background:#EEF2F6;	
	height: auto;
	padding:0px 65px 0px 0px;
}

.help h3 {
	color:#fff;
	background: url("/images/start.png") no-repeat 205px 7px #3C3C3C ;
	font: 14px/30px "Oxygen-regular",sans-serif;
	letter-spacing: 2px;
	width: 225px;
	padding-left:20px;
	margin-bottom:12px;
}

.help h4 {
	margin-left:20px;
	width:155px;
	padding-bottom:12px;
}

#separator{
	width:225px;
	height:7px;
	background:#FFF;
	margin-bottom:12px;
}

.help a{
	color:#737373;
	font: normal 13px Arial, sans-serif;
	text-decoration:none;
}

.letter{
	display:block;
}

.help a:hover{
	color: #3C3C3C;
}

.trigger{
	z-index:4;
	color: #fff;
	font:12px/17px "Oxygen-regular",sans-serif;
	text-decoration:none;
	text-transform:uppercase;	
	position: fixed;
	text-decoration: none;
	top: 80px; right: 0;
	padding:6px 13px;
	background:#3C3C3C ; 
	display: block;
}

.help #question-panel{
	position: absolute;
	width: 225px;
	padding: 8px 0px 12px 0px;
	background:#EEF2F6/*#FAFAFA*/;
	display: none;
	right: 0;
    top:122px;
}
	
.help form p{
	width:170px;
	margin:0px auto 0px auto;
}
	
.help form textarea{ 
	border: 1px solid #DCDCDC;
    color: #909090;
    font: 12px arial;
 	margin-bottom:10px;
    width:inherit; 	
}

.help #help-question h4{
	width: 200px;
}
	
.help #help-question .send-question{	
	background:#E93F44;
    border: 1px solid #B53135;
    color: #FFFFFF;
    height: 24px;
    width: 173px;
	padding-top:2px;
}

.help #help-question .send-question:hover{	
	background: #e6282e;
    border: 1px solid #a12c2f;
}			





/*----------------------formulaire/login----------------------

#login-panel {
	z-index: 5;
	position: absolute;
	top: 26px;
	height: 240px;
	right: 0px;
	width: 420px;
	padding: 10px 15px 5px 15px;
	background: #3C3C3C;
	font: normal 15px Arial, sans-serif;
	color: white;
	display: none;
}	
*/
	
/*--------------------main------------------------*/

#main{
	background:url(/images/slide-droite2.png);
	background-repeat:repeat-y;
	background-position:right;
	position : relative;
	padding-top : 50px;
}	
		
.project-meta .info, #dashboard-meta .info{
	height:100px;
	width:220px;
}
	
.project-meta .info h3 {	
	border-bottom: 1px solid #DCDCDC;
	font: normal 13px Arial, sans-serif;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	width:220px;
	padding-bottom:2px;
	padding-left:5px;
	padding-top:2px;
	background:#FFFFFF;
}

.container-left .info{float: right;}	

.container-left h3 {
	font: normal 14px/30px "Oxygen-regular", sans-serif;
	letter-spacing : 2px;
	color: #FFFFFF;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-left:5px;
	background:#235BBE url('/images/dossier1.png') no-repeat 225px 7px;
}

.container-left .members h3 {background : #EE6E21 url('/images/userB.png') no-repeat 225px 8px;
}

.container-left .script {
	margin-bottom: 5px;
}

.container-left #script {
    margin-bottom: 30px;
}
#queuedScripts
{
  
    overflow: auto;
    height: 250px;
}

.container-left .script .queued-scripts{
	background: #EEF2F6;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;}
	
	.container-left .script .queued-scripts .progress-script{
	background: #25A618;
    height: 10px;
    width:100px;
	display:block;}
	
.container-left .script .name-script{
	color: #909090;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 20px;
    margin-left: 5px;
    }

.container-left .script .hours{
	color: #909090;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 20px;
	float:right;
    margin-right:10px;	}

.container-left .script h3 {background : #27AD19 url('/images/analysis-queued.png') no-repeat 225px 6px;
}

.dashboard-projects a {
	margin-bottom:8px;
}

.dashboard-projects li {
	margin-bottom : 5px;
}

.dashboard-projects .projects li:hover { cursor : pointer; }
.dashboard-projects .projects li:hover * { color: #444444; }

.dashboard-projects span {
	float : right;
	font: normal 11px Arial, sans-serif;
	color: #DFE0E3; 

	margin-top : 2px;
	padding-left : 18px;
	background : url('/images/user-ptit.png') no-repeat 0px 0px;
}

.project-meta .date {
	font: normal 12px/1.2em Arial, sans-serif;
	color: #909090;
	margin-top:5px;
	margin-left:5px;
}	

.participation .data {
	font: normal 12px/1.2em Arial, sans-serif;
	color: #909090;
	margin-top:2px;
	margin-bottom : 10px;
	z-index : 99999;
	position : absolute;
	background : white;
}

.members .inactive {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}
	
.dashboard-projects .data {
	margin-left : 10px;
}

.member, .project-title a{
	font: normal 11px Arial, sans-serif;
	color:#909090;
	margin-left: 5px;
	padding-bottom:5px;
	text-decoration:none;
	cursor:pointer;
}

.member .name:hover, .project-title a:hover{
	color: #444444;
}			
	
.member canvas{
	padding-top:4px;
	width:245px;
}

.project-title canvas{
	padding-top:4px;
	width:245px;
}

.member canvas{
    padding-top:4px;
}

.project-title canvas{
    padding-top:4px;
    margin-left:5px;
}

#dashboard-meta .dashboard-projects{
    width:240px;
}

#dashboard-meta #link-dashboard {
    margin-top: 25px;
}

#dashboard-meta #link-dashboard h4{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/go-eyes.png") no-repeat 5px 7px;
    border-color: #DCDCDC;
    -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    color: #909090;
    font: 13px/25px arial,sans-serif;
    padding-left: 34px;
}

#dashboard-meta #link-dashboard h4 a {
    color: #909090;
 	text-decoration: none;
}

#dashboard-meta #link-dashboard h4 a:hover {
    color: #444444;
    cursor: pointer;
}


.container-main #project-new input[type=text]{ width : 605px; border : 1px solid #DCDCDC; height : 34px; padding : 0 5px; font : normal 14px arial; color : #B1B1B1; border-radius:3px; margin-top:10px; }
.container-main .search-form input[type=text]{  background: url("/images/loupe.png") no-repeat 385px 8px; width : 400px; border : 1px solid #DCDCDC; height : 34px; padding : 0 5px; font : normal 14px arial; color : #DCDCDC;
 margin-top: 20px; margin-left: 18px; margin-bottom: 10px; border-radius:3px;}
.container-left input[type=text].focus, .container-main input[type=text].focus { color : #6E6E6E !important; }

.container-main textarea { font : normal 14px arial; color : #B1B1B1; }
.container-main textarea.focus { color : #6E6E6E; }

#add-element { position: relative; top : -14px; margin-bottom: -10px;}

#add-element .message{  border : 1px solid #EEF2F6; border-top : 0; background : #F6F0FF; padding : 2px; width : 750px; margin-left : 8px; overflow: auto; }
#add-element textarea { display : block; width : 736px; padding : 5px; height : 161px; border-radius : 2px; border : 1px solid #EEF2F6; resize:none; }
#add-element form .add { float : right; }

#add-element #select-type { background : url("/images/cross.png") no-repeat 7px 7px; margin-left : 8px; padding-left : 37px; width : 708px; border-bottom: 1px solid #EEF2F6;}
#add-element #select-type button { background : white; border : 1px solid #EEF2F6; border-width : 0px 1px; border-radius: 0px; box-shadow: none; }

#add-element #select-type button { margin-bottom : 0; margin-top : 0; }

#add-element #select-type button.analysis { color : #34B02C; }
#add-element #select-type button.document { color : #E62E60; }
#add-element #select-type button.message  { color : #FFD505; }

#add-element #select-type button.on { color : white; }
#add-element #select-type button.on.analysis { background-color : #34B02C; }
#add-element #select-type button.on.document { background-color : #E62E60; }
#add-element #select-type button.on.message  { background-color : #FFD505; }

#add-element form.analysis { text-align: center; }


#add-element .upload-corpus {
    background: #EB5C83;
    border: 1px solid #CC0033;
    color: #FFFFFF;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 18px;
    margin-top: 25px;
    padding-top: 6px;
    width: 220px;
    float: left;
}
#add-element .upload-corpus  span {
    background: url("/images/bt-upload.png") no-repeat;
    float: left;
    height: 32px;
    margin-left: -13px;
    margin-top: -7px;
    width: 32px;
}
#add-element .upload-corpus:hover {
    background:  #E62E60;
    border: 1px solid #CC0033;
    transition: background-color 0.3s ease-in-out 0s;
}

#add-element .start-script {
    background:  #2CC31C;
    border: 1px solid #1D8912;
    color: #FFFFFF;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 36px;
    margin-top: 25px;
    padding-top: 6px;
    width: 220px;
    float: left;
}

#add-element .start-script span {
    background: url("/images/bt-script.png") no-repeat;
    float: left;
    height: 32px;
    margin-left: -13px;
    margin-top: -7px;
    width: 32px;
}

#add-element .start-script:hover {
    background:#27AD19;
    border: 1px solid #1D8912;
    transition: background-color 0.3s ease-in-out 0s;
}

#add-element .write-message {
    background: #ffd505;
    border: 1px solid #b89900;
    color: #FFFFFF;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 36px;
    margin-top: 25px;
    padding-top: 6px;
    width: 220px;
    float: left;
}

#add-element .write-message span {
    background: url("/images/bt-message.png") no-repeat;
    float: left;
    height: 32px;
    margin-left: -6px;
    margin-top: -7px;
    width: 32px;
}

#add-element .write-message:hover {
    background:#FFC005;
    border: 1px solid #b89900;
    transition: background-color 0.3s ease-in-out 0s;
}

#add-element .clear {
 clear: both;   
}





/* ADD NEW MEMBER BLOCK  ************************************************************/

.container-left #new-members { margin-top : 25px; }

.container-left #new-members h4 { color : #909090; font: normal 13px/25px arial, sans-serif; border : 1px solid #DCDCDC; border-left :0; border-right: 0; padding-left : 34px; background : url("/images/cross2.png") no-repeat 5px 5px; }
.container-left #new-members h4:hover { color : #444444; cursor : pointer; }

.container-left #new-members > div {
    padding: 8px 4px 8px 4px;
    border: 1px solid #EEF2F6;
    border-top :0;
	background : #FAFAFA;
	display : none;
}

.container-left #new-members .button {
	display: block;
	margin : 5px;
    text-decoration:none;
	margin:0px auto;
}

.container-left #new-members input {
    border: 1px solid #DCDCDC;
    color: #CFCFCF;
    font: 11px arial;
    height: 27px;
    padding: 0 5px;
    margin : 0;
    width : 233px;
}

.container-left #new-members #proposition-members { border : 1px solid #DCDCDC; border-top : 0; }

.container-left #new-members #proposition-members > p { background : white; padding : 10px; text-align : center; color : #6E6E6E; font: italic 11px/15px arial; }

.container-left #new-members #proposition-members .user {
	background:#FFF;
	padding : 4px 4px;
	position : relative;
	border-bottom : 1px solid #DCDCDC;
}

.container-left #new-members #proposition-members .user:last-child { border : none; }


.container-left #new-members #proposition-members .user img {
    border: 1px solid #DCDCDC;
    height: 24px;
    width: 24px;
	margin-right : 4px;
	float:left;
}
	
.container-left #new-members #proposition-members .user .name {
	color: #909090;
    font: normal 11px/27px arial;
}
	
.container-left #new-members #proposition-members .plus {
	background:url("/images/cross2.png") no-repeat;
	height:14px;
	width:14px;
	position : absolute;
	top : 9px;
	right : 5px;
	cursor:pointer;
}

.container-left #new-members #proposition-members .plus:hover {
	background:url("/images/cross2-hover.png") no-repeat;
}	

.container-left #new-members #send-invitation a {
	color: #909090;
    font: normal 11px arial;
}
	
.container-left #new-members #send-invitation a:hover {
	color: #444444;
}
		
.container-left #new-members #send-invitation{
	text-align : center;
	display : none;
}


/*--------------------COL RIGHT: PROJECT META 2------------------------*/

/* USER INFORMATIONS COL RIGHT  ************************************************************/

.project-meta2 h3{
	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DCDCDC;
	letter-spacing: 2px;
    color: #BEBEBE;
    font: 11px Arial,sans-serif;
    margin: 10px 0px 10px 0;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    width: 240px;
	}

.project-meta2 #infos{
 	width: 165px;
 	float:left;
}

.project-meta2 #gravatar img {
    border: 1px solid #EEF2F6;
    height: 45px;
	width: 45px;
	float:left;
}

.project-meta2 h1 {
    color: #909090;
    font: 13px Arial,sans-serif;
	margin-left:8px;
}

.project-meta2 .email {
    color: #BEBEBE;
    font: 12px Arial,sans-serif;
	margin-left:8px;
}

.project-meta2 #indicator_infos{
	width: 165px;
 	float:left;
	margin-top:10px;
	margin-bottom:45px;
}

.project-meta2 #indicator_infos h4{
	float:left;
	width:90px;
	font: 12px Arial,sans-serif;
}

.project-meta2 #indicator_infos .number{
	float:left;
}

.project-meta2 #indicator_projects, .project-meta2 #indicator_analysis, .project-meta2 #indicator_number,
.project-meta2 #indicator_documents, .project-meta2 #indicator_messages{
    color: #909090;
    font: 13px Arial,sans-serif;
	margin-left:8px;
	clear:both;
}
	
.project-meta2 #effacement{
	clear:both;
}

