/* cortext projects css*/


/*---------------document---------------------------*/


.document .body {
    width:750px;
    min-height: 45px;
}

.document .body a{
    text-decoration : none;
    color:#909090;
}   
.document .body a:hover{
    color : #444444;
}


/*-----------------messages-------------------------*/

#dashboard .element {
	width: 750px;
	height: 38px;
	border: 1px solid #E6E6E6;
	margin-left: 8px;
    margin-top: 10px;
}

#dashboard .message-body, #dashboard .document-body, #dashboard .comment {
	display:none;
}

.document .document-body .img-document{
    background: url("/images/img-fichiers.png") no-repeat scroll center center transparent;
}


.message .message-body .img-message{
    background: url("/images/img-message.png") no-repeat scroll center center transparent;
}

.message .message-body .body-mess, .document .document-body .body-doc{
	color: #3A3A3A;
    float: left;
    font: 12px/45px Arial,sans-serif;
    margin-left: 5px;
}

.message .message-body, .document .document-body{
height:44px;
background-color: #fff;
border-left: 1px solid #E6E6E6;
border-right: 1px solid #E6E6E6;

}


#dashboard .message-write {display: none;}

.document .message-write, .analysis .message-write, .message .message-write{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F6F0FF;
    border-color: -moz-use-text-color #EEF2F6 #EEF2F6;
    border-image: none;
    border-right: 1px solid #EEF2F6;
    border-style: none solid solid;
    overflow: auto;
    padding: 2px;
    width: 745px;
}

.document textarea, .message textarea, .analysis textarea  {
    border: 1px solid #EEF2F6;
    border-radius: 2px;
    display: block;
    height: 80px;
    padding: 5px;
    resize: none;
    width: 732px;
}

.document form .add, .message form .add, .analysis form .add  {
    float: right;
    margin-bottom: 5px;
    margin-right:5px;
    margin-top:5px;
}


.document .comment, .message .comment, .analysis .comment{
	height:25px;
	background-color: #F6F0FF;
}

.document .comment p, .message .comment p, .analysis .comment p{
	float:right;
	font: 13px/22px Arial,sans-serif;
	margin-right:10px;

}

.document .comment span, .message .comment span, .analysis .comment span{
	float:right;
    background: url("/images/comment-1.png") no-repeat ;
	height:20px;
	width:20px;
	margin-top:6px;
	margin-left:10px;
}

.document .comment a, .message .comment a, .analysis .comment a{
	text-decoration: underline;
}

.document .comment a:hover, .message .comment a:hover, .analysis .comment a:hover{
	color:#ff9705;
}

.document .arrow, .message .arrow, .analysis .arrow{
    background: url("/images/arrow.png") no-repeat 362px 0px #fff;
    height: 18px;
    margin-top:0px;
    width: 750px;
}

#dashboard .arrow{
	display: none;
}


#main-project .element {
	width: 750px;
	margin-left: 8px;
    margin-top: 12px;
    background-color:#E6E6E6; 
}

#main-project .element .info {
	   height: 30px;
	position: relative;
}


.element .info .type { 
	float : left; 
	margin-top : 2px; 
	margin-right : 45px; 
	padding : 0 4px; 
	text-transform : lowercase; 
	font : normal 14px/15px Arial, "Oxygen-Regular", "Bitstream Vera Sans", "DejaVu Sans", Sans-serif;
	color : #393939;
}

.element .info .message { background: url("/images/messages.png") no-repeat; height: 24px;}
.element .info .analysis {background: url("/images/analysis.png") no-repeat; height: 24px;width: 70px}
.element .info .image  {background: url("/images/image.png") no-repeat; height: 24px;}
.element .info .document { background: url("/images/document.png") no-repeat; height: 24px;}

.element .info .state {
   height: 24px;
   float: left;
   margin-right: 20px;
}


.element .status { 
	font: normal 11px/14px Arial, sans-serif;
	text-align: center;
	color:#909090;
	padding-left: 22px;
}

.running { 
	background: url("/images/status-running.png") no-repeat;
	
}

.error { 
	background: url("/images/status-error.png") no-repeat;
	margin-right:14px;
	
}
.finished { 
background: url("/images/status-finish.png") no-repeat;
}

.element img.gravatar{
    border: 1px solid #EEF2F6;
    height: 25px;
    width: 25px;
    border: 1px solid #fff;
    float:left;
    margin-right:10px;
    margin-top:-5px;
}


.element .info {
	padding: 3px 10px;
	position: relative;
	margin-top:2px;
}

.element .info h3{
	display: inline-block;
	font: normal 12px/17px Arial, sans-serif;
	color:#666768;
	font-weight: normal;
}

.element .info .date {
	float: right;
	padding-right:4px;
	padding-top: 6px;
	font: normal 12px/17px Arial, sans-serif;
	color:#666667;
}
.element a{
    text-decoration : none;
    color : #3A3A3A;
}

.element a:hover{
    text-decoration : underline;
}
.element .info .date a {
	text-decoration : none;
	color : inherit;
}

.element .info .extra {
	display: inline-block;
}

.message .body{
	width:750px;
}
	
.message .body p{
	font: normal 12px/1.4em Arial, sans-serif;
	color:#909090;
	margin: 5px 10px;
	text-align: justify;
}


	
	
/*-------------------analysis--------------------------*/

.analysis .info .name, .document .info .name{
	color: #3A3A3A;
    font: 13px Arial,sans-serif;
			
}

 .document .info .document-name{
	float:left;
	padding: 6px 40px;
}


.analysis .info .info-result, .document .info .info-result{
	float:left;
	padding: 6px 40px;

}

.analysis .info .results {

	color: #3A3A3A;
    font: 13px Arial,sans-serif;
}
		
.analysis .info .extra a{
	font: normal 12px/17px Arial, sans-serif;
	color:#909090;
	margin-left:5px;
}	

.image .info .author{
	font: normal 12px/17px Arial, sans-serif;
	color:#909090;
	float:left;
	margin-top:3px;
	margin-left:10px;
	display:none;
}			
	
.image .body img{
	margin-left:7px;
}	

.analysis .type a, .message .type a, .document .type a{
	margin-top : 4px; 
	margin-left: 30px; 
	padding : 0 4px; 
	text-transform : lowercase; 
	color: #3A3A3A;
    float: left;
    font: bold 13px Arial,sans-serif;

}



/*--------------------analysis files----------------------*/

.analysis .files{
    max-height: 150px;    
    overflow: auto;
}


#main-project .analysis .file{
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}


.analysis .file{
	position:relative;	
	border-top: 1px solid #E6E6E6;
	height:44px;
	background-color:#fff; 
}

.element .icon {
    background-color: #EEF2F6;
    border: none;
    color: #909090;
    float: left;
	font: normal 12px/40px Arial, sans-serif;
    height: 38px;
	margin:2px 0px 2px 8px;
    text-align: center;
    width: 28px;
}
.element .view {
    background: url("/images/icon-view.png") no-repeat scroll center center transparent;
}
.element .view:hover {
    background: url("/images/icon-view-hover.png") no-repeat scroll center center transparent;
}

.element .delete {
    background: url("/images/icon-trash.png") no-repeat scroll center center transparent;
}
.element .delete:hover {
    background: url("/images/icon-trash-hover.png") no-repeat scroll center center transparent;
}


.element .file .img-, .document .document-body .img-{
    background: url("/images/img-fichiers.png") no-repeat scroll center center transparent;
}

.analysis .file .img-txt, .analysis .file .img-csv, .document .document-body .img-csv, .document .document-body .img-zip, 
.document .document-body .img-xlsx{
    background: url("/images/img-csv.png") no-repeat scroll center center transparent;
}

.analysis .file .img-db, .document .document-body .img-db{
    background: url("/images/img-db.png") no-repeat scroll center center transparent;
}

.analysis .file .img-html, .document .document-body .img-html{
    background: url("/images/img-html.png") no-repeat scroll center center transparent;
}

.element .file .img-pdf, .element .file .img-json, .document .document-body .img-pdf, .document .document-body .img-json {
    background: url("/images/img-json.png") no-repeat scroll center center transparent;
}

		
.analysis .file .name {
	font: normal 12px/45px Arial, sans-serif;
	color: #909090;
    float: left;
    margin-left: 5px;
}
	
.analysis .file .info {
	background: url("/images/dialogue.png") no-repeat scroll left center transparent;
    float: right;
	margin-top: 5px;
	border-style:none;
}

.analysis .file .info span { 
	display:block;
	font: normal 11px Arial, sans-serif;
	color:#BEBEBE;
	padding-left: 30px;
}
  
.analysis .file .info span a{
	color: #BEBEBE; 
}

.element .actions {
    float: right;

}

#main-project .element .actions {
    margin-right: 15px;
}

.document .actions
{
	margin-right: 15px;
}
	
	
/*-------------------DASHBOARD PAGE--------------------------*/

#dashboard .project{
	float:left;
	margin-left:8px;
 	width:750px;
	margin-bottom:35px;
}

.project .elements .Analysis, .project .elements .Message, .project .elements .Image{
	border:1px solid #EEF2F6;
	float:left;
	height:35px;
	margin-top:5px;
	width:748px;	
}	

.project .elements > div {
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.project .elements > div:nth-child(odd) {
	background-color : #E6E6E6;
}

.project .elements .icons{
height:17px;
width:17px;
border-radius:2px;
float:left;
margin-top:8px;
margin-left:5px;
}

.project .elements .Message .icons{
background:#FFD505 url(/images/mess.png) no-repeat 3px 3px;
}

.project .elements .Analysis .icons{
	background: #34B02C url(/images/script.png) no-repeat 2px 1px;}

.project .elements .Image .icons{
	background:#E62E60 url(/images/docs.png) no-repeat 1px 3px;
}
	
#dashboard .project canvas { margin-top:17px;  }

#dashboard .project .participation { 
	float : right; 
	width : 200px;
	height : 30px; 
	display : block; 
	margin-bottom :5px;
	background :url('/images/user-ptit.png') no-repeat 175px 1px; 
}

#dashboard .project h2, #dashboard .project  h2 a {
	color:#235BBE;
	font: normal 18px "Oxygen-Regular", Arial, sans-serif;
	letter-spacing:0.1em;
	text-decoration:none;
  	margin-top:5px;
  	display : inline-block;
  	margin-left:6px;
}
  
#dashboard .elements .author{
	color:#666768;	
	font: normal 13px Arial, sans-serif;
	margin-left:13px;
}	
	
#dashboard .elements .title{
	float:left;
	font: normal 13px Arial, sans-serif;
	color:#909090;
 	margin-top:10px;
}  	
 
#dashboard .elements .title a{
	color:#909090;
} 
	
#dashboard .elements .title a:hover{
	color:#666768;
} 
		  
#dashboard .elements .date{
  color:#666667;
  float:right;
  padding-right:4px;
  padding-top: 6px;
  font: normal 12px/17px Arial, sans-serif;
}

#dashboard .analysis .file {
	display: none;
}

#project-new { margin-bottom : 10px;
	margin-left: 18px; }

#project-new .new{ background:#235BBE;
    border: 1px solid #19428F;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(107, 107, 107, 0.3);
    color: #ffffff;
    cursor: pointer;
    font: bold 14px arial;
    min-width: 120px;
    padding: 10px;
    text-align: center;
    margin-left:4px; }

    #project-new .new:hover{ 
    background:#19428F;
    border: 1px solid #173C7D;
    }

.col-main .trace{background:#DCDCDC;
    height: 1px;
    margin-top: 20px;
    margin-left: 18px;
}

#main-project .trace{background:#DCDCDC;
    margin-top: 8px;
}


/*-------------------USER PAGE--------------------------*/

.user.profile .info{
	border: 1px solid #DCDCDC;
	margin-left: 8px;
    padding-top: 13px;
    width: 745px;
}
	
.user.profile .info #gravatar{	
	border-right: 1px solid #DCDCDC;
    height: 170px;
    width: 170px;
	float:left;
}
	
.user.profile .info #gravatar img{
	border: 1px solid #EEF2F6;
	height: 140px;
    margin: 14px auto 0 14px;
    width: 140px;
}

.user.profile .info #gravatar + div {
	height:170px;
	width:250px;
	float:left;
	margin-left:25px;	
}
			
.user.profile .info h1{
	font: normal 22px Arial, sans-serif;
	color: #3A3A3A;
	margin-top:25px;
}
				
.user.profile .info #email{
	margin-top:2px;
	margin-left:2px;
	color: #909090;
	font: normal 15px Arial, sans-serif;
}

#indicators {
	border-top: 1px solid #DCDCDC;
	height:74px;
	width:746px;
	text-align : center;
	clear:both;
}

#indicators > div { overflow : auto; display : inline-block; float:right; }

#indicators > div > div {
	height:74px;
	width:74px;
	float :left;
	position : relative;
}

#indicators #indicator_projects { background:#235BBE; }
#indicators #indicator_analysis { background:#34B02C; }	
#indicators #indicator_documents{ background:#E62E60; }
#indicators #indicator_messages { background:#FFD505; }
	
.user.profile .info #indicators h4{
	font: normal 10px/10px Arial, sans-serif;
	color:#FFF;
	text-align : center;
	position : absolute;
	bottom : 10px;
	width : 100%;
}
	
.user.profile .info #indicators .number{
	font: normal 26px/26px Arial, sans-serif;
	color:#FFF;
	text-align : center;
	margin-top : 24px;
}
	
.user.profile h2{
	font: normal 17px "Oxygen-Regular", sans-serif;
	letter-spacing:0.1em;	
	color:#FFFFFF;
	margin-left: 8px;
    width: 735px;
	height:25px;
}	


.user.profile h2.Recent{
	background : #FFD505 url('/images/message.png') no-repeat 718px 5px;
	padding-left:10px;
	padding-top:4px;
	margin-top:15px;
}	

.user.profile h2.Project{
	background : #235BBE url('/images/dossier2.png') no-repeat 718px 5px;
	padding-left:10px;
	padding-top:4px;
	margin-top:25px;
}
	
.user.profile #projects{			
	margin-left: 8px;
    margin-top: 15px;
    width: 745px;
}	
	
.user.profile #projects .project{
	border: 1px solid #E6E6E6;
    height: 40px;
    margin-bottom: 10px;
}
	
.user.profile #projects .project .title {
	font: normal 14px Arial, sans-serif;
    margin-left: 10px;
	padding-top:12px;	
}
  
.user.profile #projects .project .title a{
	color: #3A3A3A;
	text-decoration:none;
}

.user.profile #projects .project .title a:hover{
	color: #444444;
}

.user.profile #projects .project .participation{  
  	margin-bottom: 5px;
    margin-left: 150px;
   	margin-top: -15px;
    width: 390px;
}
	
.user.profile #projects .project .date{  	
	color: #666667;
    float: right;
	font: normal 12px Arial, sans-serif;
    margin-right: 10px;
    margin-top: -23px;
}

.user.profile #messages{
    margin-left: 8px;
    margin-top: 15px;
    width: 745px;
}

.user.profile #messages .project-messages{
	border: 1px solid #EEF2F6;
	margin-bottom: 10px;
}
	
.user.profile #messages .project-messages .messages{
	margin-top:-28px;
}
		
.user.profile #messages .project-messages h5 a{	
	color: #666768;
	font: normal 14px Arial, sans-serif;
	text-decoration:none;
	border-bottom:1px solid  #235BBE;
}
	
.user.profile #messages .project-messages h5{	
    margin-left: 10px;
    margin-top: 15px;
}	
		
.user.profile #messages .messages .message .info{
    border:none;
}	

.user.profile #messages .messages .message .info .date a{
    color: #BEBEBE;
    float: right;
	font: normal 12px Arial, sans-serif;
    margin-right: 18px;
	text-decoration:none;
	margin-top:1px;
}
	
.user.profile #messages .messages .body{
    margin-left: 195px;
    margin-right: 75px;
	width:450px;
	font: normal 13px Arial, sans-serif;
	color: #909090;
	border-bottom:1px solid #EEF2F6;
	padding-bottom:13px;
	padding-left:8px;
}

