<template name="project">
  <div class="project-meta col-1 container-left">

    <div class="script" id="script">

      <h3>queued scripts</h3>
      <div id="queuedScripts" class="wrapper">
      </div>

    </div><!-- /project-script -->

    <div class="members" id="members">
      <div id="user-icon"></div>
      <h3>participants</h3>

      <div class="list">
      </div>

      <div id='new-members'>

        <h4>invite a new member</h4>

        <div>
          <form id="add-members">
            <input type="text" value="type user name or email"></input>
          </form>

          <div id="proposition-members">
          </div><!-- #proposition-members -->

          <div id="send-invitation">
            <a href="#">send invitation</a>
          </div>    
        </div>
      </div>
      <h4 id="remove-from-project">remove yourself from this project</h4>
    </div>
  </div>


</div><!-- /project-meta -->

<div class="container-main" id="main-project">

  <div id="add-element">

    <form rel="{{ project.id }}" class="document">
     
     <button type="button" class="upload upload-corpus">
      upload a new corpus
      <span></span>
    </button>
  </form>

  <form rel="{{ project.id }}" class="analysis">
    
    <button type="button" class="start start-script">
     start a new script
     <span></span>
   </button>
 </form>
 
 <button type="button" class="message write-message">
   write a comment
   <span></span>
 </button>
</form>

<div class="clear"></div>

<form rel="{{ project.id }}" class="message" id="addMessage">
  <textarea id="new-message-body">Type your message for all your happy co-workers!</textarea>
  <button class="add">add</button>
</form>

</div>


<div class="trace"></div>

<form class="search-form" action="/">
  <input type="text"  id="search" name="searchString"/>
</form> 

<div id="elements" class="project elements">
</div><!-- /elements -->

</div><!-- /col-main -->

<div class="project-meta container-right">

 <div class="info">
  <h3>informations</h3>

  <div class="date_created date">created: <span>{{date_short project.date_created }}</span></div>
  <div class="date_updated date">updated: <span>{{date_short project.date_updated }}</span></div>
</div>

</div><!-- /project-meta2 -->
</template>