<template name="project">
  <div class="project-meta col-1">

    <div class="info">
      <h3>informations</h3>

      <div class="date_created date">created: <span>{{date_short project.date_created }}</span></div>
      <div class="date_updated date">updated: <span>{{date_short project.date_updated }}</span></div>
    </div>

    <div class="script" id="script">

      <h3>queued scripts</h3>
      <div id="queuedScripts" class="wrapper">
      </div>

    </div><!-- /project-script -->

    <div class="members" id="members">
      <div id="user-icon"></div>
      <h3>participants</h3>

      <div class="list">
      </div>

      <div id='new-members'>

        <h4>invite a new member</h4>

        <div>
          <form id="add-members">
            <input type="text" value="type user name or email"></input>
          </form>

          <div id="proposition-members">
          </div><!-- #proposition-members -->

          <div id="send-invitation">
            <a href="#">send invitation</a>
          </div>    
        </div>
      </div>

    </div>
  </div>


</div><!-- /project-meta -->

<div class="col-main" id="main-project">

  <div id="add-element">

    <div id="select-type">
      <button rel="analysis" class="analysis">analysis</button>
      <button rel="document" class="document">document</button>
      <button rel="message" class="message">message</button>
    </div>

    <form rel="{{ project.id }}" class="analysis">
      <button type="button" class="start">start a new script on cortext.manager</button>
    </form>

    <form rel="{{ project.id }}" class="document">
      <button type="button" class="upload">upload a new document</button>
    </form>
    <form rel="{{ project.id }}" class="message">
      <textarea id="new-message-body">Type your message for all your happy co-workers!</textarea>
      <button class="add">add</button>
    </form>

  </div>

  <div id="elements" class="project elements">
  </div><!-- /elements -->

</div><!-- /col-main -->

<div class="project-meta2 col-2">


</div><!-- /project-meta2 -->
</template>