<template name="script">
    <div class="script" id='script-{{s.id}}'>
        <div>
            <span class="name-script" title='script : {{s.name}} - progress : {{s.progress}} %'>{{ellipsis s.name 19}}</span>
            <span class="hours">{{date_short s.date}}</span>
        </div>
        <div class="queued-scripts">
            <span class="progress-script" data-progress='{{s.progress}}'></span>
        </div>
    </div>
</template>

<!-- <h3 class="finished">finished scripts</h3>
    <div id="finishedScripts"  class="wrapper">
    {{#each finishedScripts}}
        <div class="script state-{{state}}"  id="script-{{id}}" title="view {{name}} logs">
            <div>
                <span class="name-script">{{name}}</span>
                <span class="hours">{{time}}</span>
            </div>
        </div>
    {{/each}}
    </div>
    <h3 class="error">scripts with errors</h3>
    <div id="errorScripts"  class="wrapper">
    {{#each errorScripts}}
        <div class="script state-{{state}}"  id="script-{{id}}" title="view {{name}} logs">
            <div>
                <span class="name-script">{{name}}</span>
                <span class="hours">{{time}}</span>
            </div>
        </div>
    {{/each}}
    </div> -->