@charset "UTF-8";
/* CSS Document */

#login-link2{	
    position: absolute;
    top: 288px;
    right: 174px;
    display: block;
    background: #EEF2F6;
	height:12px;
	line-height:15px;
    padding: 3px 5px 5px 5px;
    color: #909098;
}

#login-link2:hover{	
    background:#cdd9e4;
}


#login-panel2{
	z-index:5;
	position: absolute;
	top: 308px;
	height:60px;
	right: 0px;
	width: 220px;
	padding: 10px 15px 5px 15px;
	background:#EEF2F6;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	color: #909098;
	display: none;
	font-style: normal;
}
	
.user2{
	line-height: 1.5;
	margin-left:5px;
	float:left;
}

form p{
	margin-top:3px;
	margin-left:-10px;}
	
	
.enter2{
	background:#34B02C;
	border-radius: 4px;	
	width:67px;
	height:21px;
	color:#FFF;
	float:right;
	margin-top:-22px;
	margin-right:-5px;
	border:none;
	padding-bottom:4px;
} 

.enter2:hover{
	background:#54cf4c;
	}		



#sid_3 h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:8px;	
	margin-top:30px;
	}
#sid_3 a{
	color: #909098;
	text-decoration:none;
	}	