body {
	margin : 0px ;
	background:url(../images/body-bg.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
	overflow-x:hidden; 
}
	
#conteneur-principal {
	z-index:2;
	margin : 0px auto 0px auto;
	width:1280px;
	position:relative;
}

#header {
	height: 60px;
	position: fixed;
	width: 1280px;
	z-index: 10;
}

@font-face { 	font-family: "Oxygen-Regular"; 	src: url('../font/Oxygen-Regular.ttf'); }	

/*----------------------menu + header-------------------*/

#menu {	
	height:50px;
	background-color: #EEF2F6;
	border-bottom: 3px solid #9C9C9C;
	position: relative;
}

#menu img {
	float: left;
}

#path ul {
 	margin:0;
 	list-style-type:none;
/* 	clear : both;
*/}

#path ul li {
/*	float:left;
*/	line-height:30px;
/*	line-height:21px;
*/	padding : 0 7px;
	margin : 0 !important;
	background-color:#3C3C3C;
/*	border-bottom: 3px solid #ffffff;
border-color : #9C96A7;*/	
	text-transform: lowercase;
}


#path ul .Project.name{
border-bottom:3px solid #32B9E5;
width:175px;
}

#path ul .user.name{
border-bottom:3px solid #EE6E21;
width:175px;
}


#path .home { 
	padding : 0; 
	border : 0;
 
}

#path .project{
	background-color:#3C3C3C;
	border-color : #9c96a7;
}

#path .Project.type, #path .dashboard{
	background-color:#235BBE;
/*	border-color : #32B9E5;
*/	line-height:20px;
	width:175px;
}		
	
/*#path .Project:hover{
	background-color:#3974db;	
}*/	
	
#path .project:hover{
	background-color:#777777;	
}

#path .user.type { 	
	background-color: #EE6E21; 
	border-color : #F3BE00;
	line-height:20px; 
	width:175px;
}

#path .type a { 	
	padding-left:10px;
	font: normal 11px Arial, sans-serif;
	text-decoration: none;
	color:white;
	text-align: center;
}

#path .name a { 	
	padding-left:14px;
	font: normal 13px Arial, sans-serif;
	text-decoration: none;
	color:white;
	text-align: center;
}
#path .dashboard a { 	
	padding-left:10px;
	font: normal 11px Arial, sans-serif;
	text-decoration: none;
	color:white;
	text-align: center;
}		
/*#path a{
	font: normal 11px Arial, sans-serif;
	text-decoration: none;
	color:white;
	text-align: center;
}*/

#user {
	position : absolute;
	top : 0;
	right : 0;
}

#user a {
	padding : 0 7px;
	display : inline-block;
	font: normal 11px/50px Arial, sans-serif;
	text-decoration: none;
	text-transform: lowercase;
	color : #fff;
	background : #3C3C3C;
	border-bottom : 3px solid #9C96A7;
}

/*----------------------formulaire/login----------------------*/

#login-panel {
	z-index: 5;
	position: absolute;
	top: 26px;
	height: 240px;
	right: 0px;
	width: 420px;
	padding: 10px 15px 5px 15px;
	background: #3C3C3C;
	font: normal 15px Arial, sans-serif;
	color: white;
	display: none;
}	

#login-link{	
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    background: #3C3C3C;
	height:12px;
	line-height:15px;
	border-bottom: 3px solid #9c96a7;
    padding: 3px 5px 5px 5px;
    color: #FFF;
}
	

.password{
	margin-left:83px;
}
	
.email{
	line-height: 1.8;
	margin-left:112px;
}

.sign{
	margin-left:155px;
	line-height: 1.8;
}

form p{
	margin-top:10px;
	margin-left:-5px;
}
	
.enter{
	background:#34B02C;
	border-radius: 4px;	
	width:67px;
	height:21px;
	color:#FFF;
	margin-left:240px;
	margin-top:10px;
	border:none;
	padding-bottom:4px;
} 

.enter:hover{
	background:#54cf4c;
}		

.phrase{
	margin-left:35px;
	line-height:1.8;
}	
	
input:focus{
	-moz-transition:1s; 
	-o-transition:1s; 
	-ms-transition:1s; 
	-webkit-transition:1s;
	border: 2px solid #54cf4c;
	box-shadow: none;
}	
	
	
/*--------------------main------------------------*/

#main{
	background:url(../images/slide-droite2.png);
	background-repeat:repeat-y;
	background-position:right;
	position:absolute;
	margin-top:62px;
	z-index:15px;
}	
	
.col-1 {
	width:255px;
	float:left;
	z-index:2;
	height:inherit;
	margin-top:14px;
	margin-bottom:0px;
}	
		
.project-meta .info, #dashboard-meta .info{
	height:100px;
}
	
.col-1 .info h3 {
	
	border-bottom: 1px solid #EEF2F6;
	font: normal 11px Arial, sans-serif;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:5px;
	padding-top:2px;
	background:#FFFFFF;
}	

.col-1 h3 {
	font: normal 11px Arial, sans-serif;
	color: #FFFFFF;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:5px;
	padding-top:2px;
	background:#235BBE;
	
	/*font: normal 11px Arial, sans-serif;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:8px;
	border-bottom: 1px solid #EEF2F6;*/
}	

.project-meta .date {
	font: normal 12px/1.2em Arial, sans-serif;
	color: #909090;
	margin-top:5px;
	margin-left:5px;
}	

.participation .data {
	font: normal 12px/1.2em Arial, sans-serif;
	color: #909090;
	margin-top:2px;
	margin-bottom : 10px;
	z-index : 99999;
	position : absolute;
	background : white;
}

.dashboard-projects h1{
	font: normal 11px Arial, sans-serif;
	color: #FFFFFF;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:5px;
	padding-top:2px;
	background:#235BBE;
}

.members h3{
	font: normal 11px Arial, sans-serif;
	color: #FFFFFF;
	margin: 10px 10px 10px 0px;
	padding-bottom:2px;
	padding-left:5px;
	width:245px;
	padding-top:2px;
	background:#EE6E21;
}

.members .inactive {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}

/*.dashboard-projects #user-icon{
	background: url("../images/dossier.png") no-repeat;
    float: right;
    height: 12px;
    margin-right:-2px;
    margin-top: 1px;
    width: 17px;
}	


.members #user-icon{
	background: url("../images/user-ic.png") no-repeat;
    float: right;
    height: 12px;
    margin-right: 5px;
    margin-top: 2px;
    width: 10px;
	padding-right:5px;
}	*/	
	
.dashboard-projects .data {
	margin-left : 10px;
}

.member, .project-title a{
	font: normal 11px Arial, sans-serif;
	color:#909090;
	margin-left: 5px;
	padding-bottom:5px;
	text-decoration:none;
	cursor:pointer;
}

.member .name:hover, .project-title a:hover{
	color: #444444;
}			
	
.member canvas{
	padding-top:4px;
	width:245px;
}

.project-title canvas{
	padding-top:4px;
	width:245px;
}	


#elements, #dashboard{
	width:765px;
	float:left;
	margin-top: 12px;
}	

.member canvas{
    padding-top:4px;
}

.project-title canvas{
    padding-top:4px;
    margin-left:5px;
/*    display:none;
*/}    


#elements, #dashboard, #user-1{
    width:765px;
    float:left;
    margin-top: 12px;
}

.elements{	
	margin-bottom:35px;
}

.user{	
	margin-bottom:25px;
}

#dashboard-meta .dashboard-projects{
        width:240px;
} 


/*-----------------messages-------------------------*/

.element {
	width: 750px;
	border: 1px solid #EEF2F6;
	margin-left: 8px;
    margin-top: 10px;
}

.element .info .type { 
	float : left; 
	margin-top : 2px; 
	margin-right : 5px; 
	padding : 0 3px; 
	text-transform : lowercase; 
	font : normal 8px/15px verdana; 
	color : white; 
	background-color : #909090; 
}

.element .info .message { background-color : #FFD505;}
.element .info .analysis { background-color : #34B02C;}
.element .info .image { background-color : #A3319F;}

.element .info {
	border-bottom: 1px solid #EEF2F6;
	padding: 3px 10px;
	position: relative;
}

.element .info h3{
	display: inline-block;
	font: normal 12px/17px Arial, sans-serif;
	color:#909090;
	font-weight: normal;
}

.element .info .date {
	float: right;
	font: normal 12px/17px Arial, sans-serif;
	color:#909090;
}

.element .info .extra {
	display: inline-block;
}

.message .body{
	width:750px;
}
	
.message .body p{
	font: normal 12px/14px Arial, sans-serif;
	color:#909090;
	margin: 5px 10px;
	text-align: justify;
}	
	
	
/*-------------------analysis--------------------------*/

.analysis .info .author{
	font: normal 12px/17px Arial, sans-serif;
	color:#909090;
	float:right;
	margin-right:5px;
	display:none;		
}
		
.analysis .info .extra a{
	font: normal 12px/17px Arial, sans-serif;
	color:#BEBEBE;
	margin-left:5px;
}				
	
.image .info .author{
	font: normal 12px/17px Arial, sans-serif;
	color:#BEBEBE;
	float:left;
	margin-top:3px;
	margin-left:10px;
	display:none;
}			
	
.image .body img{
	margin-left:7px;
}		


/*--------------------fichiers----------------------*/
	
.analysis .file{
	position:relative;	
	border: 1px solid #EEF2F6;
	height:44px;	
}

.analysis .file .img-pdf {
    background-color: #EEF2F6;
    border: 1px solid #EEF2F6;
    color: #909090;
    float: left;
	font: normal 12px/40px Arial, sans-serif;
    height: 38px;
	margin:2px 0px 2px 8px;
    text-align: center;
    width: 28px;
}
		
.analysis .file .name {
	font: normal 12px/45px Arial, sans-serif;
	color: #909090;
    float: left;
    margin-left: 15px;
}
	
.analysis .file .info {
	background: url("../images/dialogue.png") no-repeat scroll right center transparent;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
	border-style:none;
}

.analysis .file .info span { 
	display:block;
	font: normal 11px Arial, sans-serif;
	color: #909090;
    padding-right: 30px;
}
  
.analysis .file .info span a{
	color: #BEBEBE; 
}
	
	
/*-------------------dashboard--------------------------*/

#dashboard .project{
	float:left;
	margin-left:8px;
 	width:750px;
	margin-bottom:35px;
}

.project .elements .Analysis, .project .elements .Message, .project .elements .Image{
	border:1px solid #EEF2F6;
	float:left;
	height:35px;
	margin-top:5px;
	width:748px;	
}	

.project .elements > div {
	background-repeat: no-repeat;
	background-position: 4px 8px;
}

.project .elements > div:nth-child(odd) {
	background-color : #fafafa;
}

.project .elements .Analysis{
	background-image: url(../images/script_actu.png);}

.project .elements .Message{
	background-image:url(../images/post_actu.png);
}

.project .elements .Image{
	background-image:url(../images/visual_actu3.png);
}
	
#dashboard .project canvas {   }
#dashboard .project .participation { 
	float : right; 
	width : 200px;
	height : 10px; 
	display : block; 
	margin-top : 4px; 
}

#dashboard .project  h2, #dashboard .project  h2 a {
	color:#235BBE;
	font: normal 17px "Oxygen-Regular", Arial, sans-serif;
	letter-spacing:0.1em;	
	text-decoration:none;
  	margin-bottom:0px;
  	display : inline-block;
}
  
#dashboard .elements .author{
	color:#666768;
	float:left;
	font: normal 13px Arial, sans-serif;
	margin-left:33px;
	margin-top:10px;
	width:240px;	
}	
	
#dashboard .elements .title{
	float:left;
	font: normal 13px Arial, sans-serif;
	color:#909090;
 	margin-top:10px;
}  	
 
#dashboard .elements .title a{
	color:#909090;
} 
	
#dashboard .elements .title a:hover{
	color:#666768;
} 
		  
#dashboard .elements .date{
  color:#909090;
  float:right;
  padding-right:10px;
  padding-top:10px;
  font: normal 12px/17px Arial, sans-serif;
}


/*-------------------user--------------------------*/

#user-1 .info{
	border: 1px solid #EEF2F6;
	margin-left: 8px;
    margin-top: 13px;
    width: 745px;
}
	
#user-1 .info #gravatar{	
	border-right: 1px solid #EEF2F6;
    height: 170px;
    width: 170px;
}
	
#user-1 .info #gravatar img{
	border: 1px solid #EEF2F6;
	height: 140px;
    margin: 14px auto 0 14px;
    width: 140px;
}
	
#user-1 .info h1{
	font: normal 17px Arial, sans-serif;
	color: #777777;
    margin-top: 25px;
	float:right;
	margin-right:430px;   
}
				
#user-1 .info #email{
	height:125px;
	width:550px;
	margin-top:-125px;
	float:right;
	color: #9B9B9B;
	font: normal 13px Arial, sans-serif;
}

#indicators {
	border-top: 1px solid #EEF2F6;
	height:74px;
	width:746px;
	text-align : center;
}

#indicators > div { overflow : auto; display : inline-block; /*margin: auto;*/ float:right; }

#indicators > div > div {
	height:74px;
	width:74px;
	float :left;
	position : relative;
}

#indicators #indicator_projects { background:#235BBE; }
#indicators #indicator_analysis { background:#34B02C; }	
#indicators #indicator_documents{ background:#A3319F; }
#indicators #indicator_messages { background:#FFD505; }
	
#user-1 .info #indicators h4{
	font: normal 10px/10px Arial, sans-serif;
	color:#FFF;
	text-align : center;
	position : absolute;
	bottom : 10px;
	width : 74px;
}
	
#user-1 .info #indicators .number{
	font: normal 26px/26px Arial, sans-serif;
	color:#FFF;
	text-align : center;
	margin-top : 24px;
}
	
#user-1 h2{
	font: normal 17px "Oxygen-Regular", sans-serif;
	letter-spacing:0.1em;	
/*	font: normal 17px Arial, sans-serif;
*/	color:#FFFFFF;
	margin-left: 8px;
    width: 735px;
	height:25px;
}	

#user-1 .Recent{
	background:#FFD505;
	padding-left:10px;
	padding-top:4px;
	margin-top:15px;
}	

#user-1 .Project{
	background:#235BBE;
	padding-left:10px;
	padding-top:4px;
	margin-top:15px;
}
	
#user-1 #projects{			
	margin-left: 8px;
    margin-top: 15px;
    width: 745px;
}	
	
#user-1 #projects .project{
	background: url("../images/proj-icon.png") ;
	background-repeat:no-repeat;
	background-position: 10px 10px;
	border: 1px solid #EEF2F6;
    height: 40px;
    margin-bottom: 10px;
}
	
#user-1 #projects .project .title {
	font: normal 14px Arial, sans-serif;
    margin-left: 42px;
	padding-top:12px;	
}
  
#user-1 #projects .project .title a{
	color: #777777;
	text-decoration:none;
}

#user-1 #projects .project .title a:hover{
	color: #444444;
}

#user-1 #projects .project .participation{  
  	margin-bottom: 5px;
    margin-left: 198px;
   	margin-top: -15px;
    width: 390px;
}
	
#user-1 #projects .project .date{  	
	color: #777777;
    float: right;
	font: normal 12px Arial, sans-serif;
    margin-right: 10px;
    margin-top: -23px;
}

#user-1 #messages{
    margin-left: 8px;
    margin-top: 15px;
    width: 745px;
}

#user-1 #messages .project-messages{
	border: 1px solid #EEF2F6;
	margin-bottom: 10px;
}
	
#user-1 #messages .project-messages .messages{
	margin-top:-16px;
}
		
#user-1 #messages .project-messages h5 a{	
	color: #777777;
	font: normal 14px Arial, sans-serif;
	text-decoration:none;
	border-bottom:1px solid  #235BBE;
}
	
#user-1 #messages .project-messages h5{	
    margin-left: 10px;
    margin-top: 15px;
}	
		
#user-1 #messages .messages .message .info{
    border:none;
}	

#user-1 #messages .messages .message .info .date a{
    color: #777777;
    float: right;
	font: normal 12px Arial, sans-serif;
    margin-right: 18px;
	text-decoration:none;
}
	
#user-1 #messages .messages .body{
	margin-bottom: 18px;
    margin-left: 195px;
    margin-right: 75px;
	width:450px;
	font: normal 13px Arial, sans-serif;
	color: #909090;
}