<template name="analysis">
  <div class="element analysis user-{{ author }}" id="Analysis-{{ id }}">
    <div class="info">
      <span class="type analysis">
        <a href="/job/{{e.jobId}}/log" title='{{e.name}} : view parameters &amp; logs'>
        {{#if e.parameters.script_name}} {{e.parameters.script_name}} {{else}} {{e.type}} {{/if}}
        </a>
      </span>
      <h3 class="author"> by <a href="/user/{{author.id}}">{{ author.name }}</a></h3>
     {{#if e.parameters.corpus_name}}
      <span class="name"> 
       on <a href="{{e.parameters.corpus_permalink}}"  title='download'>{{e.parameters.corpus_name}}</a>
      </span>
     {{/if}}

      
     
      <!--<span class="extra"><a href="#">parameters</a> - <a href="#">logs</a></span>-->
      <span class="date"><a href="{{ e.permalink }}">{{date_short e.date }}</a></span>
      {{#if e.content.results}}<span class="results"><a href="#results-{{id}}"> - {{size e.content.results}} dataset(s)</a></span>{{/if}}

    </div><!-- /info -->
    {{#if e.content}} 
      {{#if e.content.results}} 
      <div class="files" id="{{results-id}}">
      {{#each e.content.results}}
        <div class="file">
          <div class="icon img-{{extension}}">{{#if extension}}{{extension}}{{/if}}</div>
          <div class="name"><a href="{{url}}">{{title}}</a></div>
          <!-- <div class="info">            
            <span class="comments"><a href="#">5 comments</a></span> 
            <span class="date">23:12 12.05.2012</span>
          </div>
          -->
        </div>
      {{/each}}
      </div><!-- /files -->
      {{/if}}
    {{/if}}
  </div>
</template>