<template name="analysis">
  <div class="element analysis user-{{ e.author }}" id="Analysis-{{ e.id }}" rel="{{e.id}}">
    <div class="info">
      <span class="type analysis">
        <a href="/job/{{e.jobId}}/log/{{e.project}}" title='{{e.name}} : view parameters &amp; logs'>
        {{#if e.parameters.script_name}} {{e.parameters.script_name}} {{else}} {{e.type}} {{/if}}
        </a>
      </span>
<!--      <h3 class="author"> by <a href="/user/{{author.id}}">{{ author.name }}</a></h3>
-->     {{#if e.parameters.corpus_name}}
      <span class="name"> 
       on <a href="{{e.parameters.corpus_permalink}}"  title='download'>{{e.parameters.corpus_name}}</a>
      </span>
     {{/if}}
     
     {{#if e.content.results}}<span class="results">-<a href="/project/{{e.project}}#results-{{e.id}}"> {{size e.content.results}} dataset(s)</a></span>
      {{else}}<span class="status {{status e.state}}">- {{status e.state}}</span>{{/if}}

  <span class="date">
  <span class="state"></span>
  <a href="/user/{{author.id}}"><img class="gravatar" src="{{author.gravatar}}" /></a>
  <a href="{{ e.permalink }}">{{date_short e.date }}</a>
  </span>
      
<!--      <span class="date"><a href="{{ e.permalink }}">{{date_short e.date }}</a></span>
-->      

    </div><!-- /info -->
    {{#if e.content}} 
      {{#if e.content.results}} 
      <a name="results-{{e.id}}"></a>
      <div class="files" id="results-{{e.id}}">
        
      {{#each e.content.results}}
        <div class="file">
          <div class="icon img-{{extension}}"><!-- {{extension}} --></div>
          <div class="name" id="{{id}}"><a href="{{url}}">{{title}}</a></div>
          <div class="actions">               
                <a class ="icon view" title="view file" rel="{{url}}" data-type="{{extension}}" target="_blank" href='{{viz extension url}}'></a>
                <a class="icon delete" title="delete file" data-id="{{id}}" href="#" rel="{{e.id}}"></a>
          </div>
        </div>
      {{/each}}
      </div><!-- /files -->
      {{/if}}
    {{/if}}
  </div>
</template>