<template name="comment">
  <div class="comment-container" id="comments-{{e.id}}">
    {{#each e.comments}}
      {{> comment-item}}
    {{/each}}
  </div>
  <form rel="{{e.project}}" data-element = "{{e.id}}" class="frm-comment message message-write" id="comment-{{e.id}}">
    <textarea id="new-message-body" placeholder="type your comment here"></textarea>
    <button class="add">add</button>
  </form>
  <div class="comment">
    <p>
      <a rel="{{e.id}}" href="#" class="display-comment">comment...</a>{{#if size e.comments}}<span class="comment-number active">{{size e.comments}}</span>{{else}}<span class="comment-number"></span>{{/if}}
    </p>
  </div>
  <div class="arrow" rel="{{e.id}}" title="view all elements"></div>
</template>

<template name="comment-item">
  <div class="document-comment" id="Message-{{id}}">
      <div class="icon img-message"> </div>
      <div class="actions">
        <a class="icon delete" title="delete comment" data-type="Message" rel="{{id}}"></a>
      </div>
      <div class="body-mess"> {{content}}
        <span class="date info-comment">
          <a href="/user/{{author.id}}">{{ author.name }} - </a>      
          <a href="">{{date_short date }}</a>
        </span>
      </div>
    </div>
</template>