<template name="document">
<div class="element document user-{{ author.id }}" id="Document-{{ e.id }}" rel="{{e.id}}">
    <div class="info">        
        <span class="type document img-{{e.extension}}"><a href="/project/{{e.project}}#Document-{{ e.id }}" title="{{e.name}}">{{ellipsis e.name 50 }}</a></span> 
        
  <span class="date">
    <a href="/user/{{author.id}}"><img class="gravatar" src="{{author.gravatar}}" /></a>
 <!--  {{ author.name }} -->
  <a href="/project/{{e.project}}#Document-{{e.id}}">{{date_short e.date }}</a>
  </span>
 
        <!--<div class="actions">               
                <a class ="icon view" title="view file" rel="{{e.permalink}}" data-type="{{e.extension}}" target="_blank" href='{{viz e.extension e.permalink}}'></a>
                <a class="icon delete" title="delete file" data-id="{{id}}" href="#" rel="{{e.id}}"></a>
        </div>-->
        <div class="document-name">
        <span class="name"><a href="{{e.permalink}}" title='download'><!--{{e.name}}--></a> </span>
        </div>
    </div>


    <div class="document-body">
        <div class="icon img-{{e.extension}}"> </div>
        <div class="body-doc"><a title="download file" href="{{e.permalink}}">{{ e.extension }} - {{e.size}}</a></div>
        <div class="actions">               
                <a class ="icon view" title="view file" href='{{viz e.extension e.permalink}}'></a>
                <a class="icon delete" title="delete file and comments" data-permalink="{{e.permalink}}" rel="{{e.id}}" data-type="Document"></a>
        </div>
    </div>
    {{>comment}}
</div><!--document-->
</template>