<template name="image">
<div class="element image user-{{ author }}" id="Image-{{ id }}">

  <div class="info">
    <h3>Image#{{ e.id }} (analysis.py/12:02 21.06.2011)</h3>
    <span class="type image">{{ type }}</span>
    <span class="author">{{ author.name }}</span>
    <span class="date"><a href="<%= e.permalink %>">{{date_short date }}</a></span>
  </div><!-- /info -->

  <div class="body">
    <a href="{{ url }}"><img src="{{ url }}" alt="resultat-script" /></a>
  </div>
</div>
</template>