<template name="message">
<div class="element message user-{{ author.id }}" id="Message-{{ e.id }}">

  <div class="info">
    <span class="type message"><a href="#"> {{md e.content}}</a></span>

  <span class="date">
  <a href="/user/{{author.id}}"><img class="gravatar" src="{{author.gravatar}}" /> <!--{{author.name}}--> </a>
  <a href="{{ e.permalink }}">{{date_short e.date }}</a>
  </span>
         
  </div><!-- /info -->

<div class="message-body">


<div class="icon img-message"><!-- {{extension}} --></div>

  <div class="body-mess">{{md e.content}}</div>

          <div class="actions">               
<!--                 <a class ="icon view" title="view file">i</a>
 -->                <a class="icon delete" title="delete file"></a>
          </div>


</div>

<form rel="{{ project.id }}" class="message message-write">
      <textarea id="new-message-body">write your comment!</textarea>
      <button class="add">add</button>
    </form>

</div>
</template>