<template name="message">
{{#if isNotAComment e}}
  <div class="element message user-{{ author.id }}" id="Message-{{ e.id }}" rel="{{e.id}}">

    <div class="info">
      <span class="type message"><a href="/project/{{e.project}}#Message-{{e.id}}"> {{author.name}}</a></span>

    <span class="date">
    <a href="/user/{{author.id}}"><img class="gravatar" src="{{author.gravatar}}" /> <!--{{author.name}}--> </a>
    <a name="message-{{e.id}}">{{date_short e.date }}</a>
    </span>
           
    </div><!-- /info -->

  <div class="message-body">


  <div class="icon img-message"><!-- {{extension}} --></div>

    <div class="body-mess">{{md e.content}}</div>

            <div class="actions">               
  <!--                 <a class ="icon view" title="view file">i</a> -->
                  <a class="icon delete" title="delete file"></a>
            </div>
  </div>
  {{>comment}}
  </div>
{{/if}}
</template>