@charset "UTF-8";
/* CSS Document */

#login_accueil{
	margin : 40px auto 0px auto;
	width:650px;
	height:555px;
	border-radius:10px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	background: #3C3C3C;
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFF;
	font-style: normal;	
	}
	
#login-header{
		margin-left:-100px;
		margin-bottom:15px;
		width:648px;
		height:30px;
		/*border-top-right-radius:15px;
		border-top-left-radius:15px;*/
		background:url(../images/form_heading2.gif) repeat-x;	
		color:#fff;
		border:1px solid #34B02C;
		border-bottom:none;
		}
					
.phrase{
	line-height: 1.5;
	font-size:20px;
	margin-left:100px;
	}	

	
.member2{	
	margin-left:100px;
	}
	
.enter{
	background:url(../images/form_heading2.gif) repeat-x;	
	margin-top:4px;
	border:none;
	box-shadow:none;
	border-radius: 4px;	
	width:257px;
	height:28px;
	color:#FFF;
	margin-left:105px;
	font-size:17px;
	border:none;
	padding-bottom:5px;
	cursor:pointer;
	} 
	
.cancel a{
	color:#FFF;
	margin-right:40px;
	margin-left:15px;
	font-size:15px;
	margin-top:0px;
	margin-bottom:0px;
	} 	

.enter:hover{
	background:#54cf4c;
	}
	 
.cancel a:hover{
	color:#54cf4c;
	}	

input{
	width:250px;
	margin-left:30px;
	height:20px;
	background-color: #fff;
	border-radius:4px;	
	border: 2px solid #999;
	color: #999;
	font-size:13px;	
	}

.first, .last, .password2, .institut{
	margin-left:3px;
	}

.email{
	margin-left:32px;
	}
	
textarea{
	width:250px;
	margin-left:35px;  
	border: 2px solid #999; 
	background-color: #fff;
	border-radius:4px;
	font-size:13px;	
	/*box-shadow: inset 0px 1px 5px rgba(0,0,0,0.8); */
	color: #999;
	}	
	
.text2{
	margin-left:-39px;
	float:left;
		}
	
.text1{
	margin-left:-36px;
	float:left;
	}		
	
input:focus,textarea:focus{
	-moz-transition:1s; 
	-o-transition:1s; 
	-ms-transition:1s; 
	-webkit-transition:1s;
	border: 2px solid #54cf4c;
	box-shadow: none;
	}	