@charset "UTF-8";
/* CSS Document */


#sidebar-left{
	width:255px;
	float:left;
	z-index:2;
	height:inherit;
	margin-top:0px;
	margin-bottom:0px;
	}

#barre-left{
	position:fixed;
	width:255px;
	}


#sid_1{
	height:100px;
	}
	
#sid_1 h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF2F6;
	}		

#sid_1 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #909090;
	margin-top:5px;
	margin-left:10px;
	line-height:1.2;
	
	}
	
	
#sid_2 h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	padding-bottom:2px;
	padding-left:8px;
	width:245px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF2F6;
	}
	
#sid_3{
	height:100px;
		}

/*#sid_3 h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:8px;	
	margin-top:30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF2F6;
	}	*/			
	
#sid_3 h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #BEBEBE;
	margin: 10px 10px 10px 0px;
	width:245px;
	padding-bottom:2px;
	padding-left:8px;	
	margin-top:43px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF2F6;
	}		
	
	
.contain-left{
	height:10px;
	background:#EEF2F6;
	margin-left:10px;
	margin-bottom:5px;	 
}	

.contain-left canvas {
	display : block;
}	

	
#utilisateur{
	margin-top:10px;
	
	}			
	
/*---------------- barre de progression double -------------------------*/	
	

.name{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#909090;
	margin-left: 10px;
	}	

.barre-progress{
	height:10px;
	background:#EEF2F6;
	margin-left:10px;
	margin-top:0px;
	}	

