@charset "UTF-8";
/* CSS Document */

#sidebar-right{
	width:260px;
/*	background-color:#DDE4E7;
*/	background-color:#E0E3E7;
	height:1500px;
	float:left;
	margin-top:0px;
	
	}	
	
#sid1{
	height:85px;
	
/*	background-color:#D5DDE1;
*/	}
		
	
	
	
#sid1 h2{
		background:url(../images/buttonb.png);
/*	background-color:#4DBF2F;
*/	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
/*	font-weight: bold;
*/	color: #FFF;
	padding:5px;
	margin-top:9px;
	margin-bottom:15px;
	}
	
#sid1 h3{
	background:url(../images/buttonb.png);
/*	background-color:#7C1A6E;
*/	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
/*	font-weight: bold;
*/	color: #FFF;
	padding:5px;
	margin-top:-3px;
	}
	
	
	
#sid2 {
	
	height:170px;
	margin-bottom:0px;
	border-right-width:6px;
	border-left-width: 6px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #666869;
	border-left-color: #666869;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #666869;
		}

#sid2 h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FFF;
	padding:4px;
	margin-top:0px;
	background-color:#666869;
		
	
	}
	
.effacement {clear:both;}	



	#analysis1{
	margin-top:0px;	
	height:50px;
	background-color:#FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666869;
	
	}

	.an1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#909090;
	margin-left: 5px;
	line-height:20px;
}

.an2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#909090;
	font-style: normal;
	margin-left:115px; 
		line-height:20px;

}	

.an3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#D6DADF;
	font-style: normal;
	margin-left:5px; 
}	

.barre{
	height:10px;
	background:#EEF2F6;
	margin-left:5px;
	margin-right:5px;
}	

#analysis2{
	height:50px;
	background-color:#FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666869;	
	}
	
#analysis3{
	height:50px;
	background-color:#FFF;
	
	}	
	
#sidebar-right img{
		margin-left:30px;
		margin-top:1200px ;

	}	
  
 /*#contener1 #contener2 #contener3{
	height:10px;
	background:#EEF2F6;
	margin-left:5px;
	margin-right:5px;
}*/


