@charset "UTF-8";
/* CSS Document */



#barre-top{
	height:22px;
	position:fixed;
width:1280px;
z-index:10;
	}	

#menu{
	height:22px;
	background-color:#EEF2F6;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9C9C9C;
	position: relative;
	}	
	
	
#menu img{
	float:left;	
	}		
	
	ul {
 	margin:0;
 	list-style-type:none; 
 	}
 
.menu1 {
	float:left;
	background-color:#3C3C3C;
	margin-left:0px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #9c96a7;
 	}
	
.menu1b {
	float:left;
	background-color:#27AD19;
	margin-left:0px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #D0D644;
 	}	
	
.menu1c {
	float:left;
	background-color:#235BBE;
	margin-left:0px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #4AC1CF;
 	}		

#menu a{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#FFF;
	text-align: center;
	}
		
	
.menu1:hover, #login-link:hover{
	background-color:#777777;	
	}	
	
.menu1b:hover{
	background-color:#5ec154;	
	}
	
.menu1c:hover{
	background-color:#3974db;	
	}		
		

