@charset "UTF-8";
/* CSS Document */

.projet_cortext{
	width:750px;
	float:left;
	margin-top:21px;
	margin-left:8px;
	}
	

.titreprojet{	
	width:inherit;
	height:10px;
	float:left;
	/*background-image: url(../images/titre_projet.png);
	background-repeat: repeat-x;
	margin-top:-2px;*/
	}		

 h1 a{	
	text-decoration:none;
	color:#235BBE;
	}
h1 a:hover{	
	color:#32B9E5;
	}
	
.projet_cortext h1{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#235BBE;
	background:#FFF;
	font-style:normal;
	margin-left:5px;
	padding-bottom:5px;
	}	

.derniere_actu{
	width:748px;
	float:left;
	height:35px;
	background:#FFF;
	margin-top:5px;
	border: 1px solid #EEF2F6;
	}		
	
.derniere_actu2{
	width:748px;
	float:left;
	height:35px;
	background:#fafafa;
	margin-top:10px;	
	margin-bottom:5px;
	border: 1px solid #EEF2F6;
	}		
	
.color_trait{
	width:2px;
	float:left;
	height:35px;
	background:#C2C5C9;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #EEF2F6;	
	}
	
.color_trait-right{
	width:2px;
	float:right;
	height:35px;
	background:#C2C5C9;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #EEF2F6;	
	}			
	
.date{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCBCE;
	margin-top:8px;
	margin-right:10px;
	}			
	
.img_actu img{
	float:left;
	margin-left:5px;
	margin-top:5px;
	}		
	
.autor{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666768;
	margin-top:5px;
	margin-left:10px;
	}			

.min_autor{	
	width:108px;
	height:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCBCC;
	}			
	
.title{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#909090;
	margin-top:10px;
	margin-left:162px;
	width:190px;
	}	

.title-pdf{	
	background:url(../images/pdf-icon.png);
	background-repeat:no-repeat;
	height:25px;
	float:left;
	margin-top:5px;
	margin-left:120px;
	width:230px;
	}	

.pdf{	
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#909090;
	margin-left:45px;
	margin-top:5px;
	}	

.date_actu{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCBCE;
	margin-top:12px;
	margin-left:200px;
	}			
	
.title a, .title-pdf a{
	color:#909090;
	}	
	
.title a:hover, .title-pdf a:hover{
	color:#666768;
	}		
	
