@charset "UTF-8";
/* CSS Document */

body {
	margin : 0px ;
	}

@font-face { font-family: "Oxygen-Regular"; 	src: url('../font/Oxygen-Regular.ttf'); }

/* buttons ---------------------------------------------*/

button, .button{ min-width : 120px; background : #FAFAFA; border : 1px solid #DCDCDC; padding : 10px; text-align : center; font : bold 14px arial; 
color : #6E6E6E; box-shadow: 0px 0px 3px rgba(107,107,107, 0.3); border-radius:3px;cursor: pointer; }

button:not(.inactive):hover, .button:hover { background : #DDDDDD; border : 1px solid #B1B1B1; color : #333333; box-shadow: 0px 0px 3px rgba(0,86,156, 0.6); }

button.inactive { color : #DCDCDC; cursor: default; }


#container-accueil{
	margin : 60px auto 0px auto;
	width:600px;
	height:345px;
/*	border:1px solid black;
*/	}
#container-accueil img{
	margin-top : 12px;
	margin-left:204px; 
	}
	
#container-accueil h1{
	font: normal 27px "Oxygen-Regular";
	color:#000101;
	letter-spacing : 1.5px;
	margin-top : 5px;
	margin-left:140px; 
	}
	
#container-accueil #distante{
	width:600px;
	height:60px;
	margin-top : 40px;
	}
#container-accueil #distante .login{
	width:200px;
	height:40px;
	margin-left :182px;
	background:#EE6E21;
	border:1px solid #CA5C1A;
	color:#FFFFFF;
	}
	
#container-accueil #distante .login:hover{
	background : #f95f03; border : 1px solid #a03f04; color : #ffffff; box-shadow: 0px 0px 3px rgba(0,86,156, 0.6);
	}			
	
#container-accueil #locale{
	width:600px;
	margin-top : 10px;
	margin-bottom:30px;
	}
	
#container-accueil #locale .login{
		margin-left :182px;
		width:200px;
		height:40px;

	}							
	
#container-accueil #locale input{	
	border: 1px solid #DCDCDC;
    color: #BCBBBB;
    font: 14px arial;
	width:190px;
    height: 34px;
    padding: 0 5px;
	display:block;
	margin-bottom:15px;
	margin-left :182px;

    }
	
#container-accueil #inscription{
	width:600px;
	height:60px;
	margin-top : 20px;
	}	
