@charset "UTF-8";
/* CSS Document */



#barre-top{
	height:22px;
	position:fixed;
	width:1280px;
	z-index:10;
	}	

#menu{
	height:22px;
	background-color:#EEF2F6;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9C9C9C;
	position: relative;
	}	
		
#menu img{
	float:left;	
	}		
	
	ul {
 	margin:0;
 	list-style-type:none; 
 	}
 
.menu1b {
	float:left;
	background-color:#EE6E21;
	margin-left:0px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #F3BE00;
 	}
	
.menu1 {
	float:left;
	background-color:#3C3C3C;
	margin-left:0px;
	padding-left:7px;
	padding-right:7px;
	line-height:20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #504B59;
	
 	}	
		

#menu a{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#FFF;
	text-align: center;
	}
		

.menu1b:hover{
	background-color:#f07d39;	
	}		
	
.menu1:hover, #login-link:hover{
	background-color:#777777;	
	}
	