@charset "UTF-8";
/* CSS Document */

.user_cortext{
	width:745px;
	float:left;
	margin-top:23px;
	margin-left:8px;
	}

#gravatar{
	width:inherit;
	float:left;
	border: 1px solid #EEF2F6;
	}		
	
#grav_photo{
	width:215px;
	height:170px;
	float:left;
	}

#grav_photocadre{
	width:160px;
	height:160px;
	border: 1px solid #EEF2F6;
	margin:10px auto 0px 10px;
	}

#grav_photomat{
	width:140px;
	height:140px;
	background:url(../images/gravatar-clo.png);
	margin:10px auto 0px auto;
	}	


#grav_user{
	width:530px;
	height:170px;
	float:left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEF2F6;
	}
	
#grav_user h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#777777;
	font-style:normal;
	margin-top:25px;
	}
		
#grav_user h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#9B9B9B;
	font-style:normal;
	margin-top:5px;
	margin-bottom:15px;
	}
			
#grav_user h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#9B9B9B;
	font-style:normal;
	margin-top:5px;
	}		

#grav_data{
	width:215px;
	height:74px;
	float:left;
	}
	
#grav_data p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#777777;
	font-style:normal;
	margin-top:15px;
	margin-left:15px;
	}	

#grav_nb{
	width:530px;
	height:74px;
	float:left;
	}

#grav_nb h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#909090;
	font-style:normal;
	margin: 10px auto 0px 5px;	
	}
	
.total{
	width:105px;
	height:74px;
	float:left;
	background:url(../images/trait-bul1.png)
	}
	
.total p, .total2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#909090;
	font-style:normal;
	margin-left:35px;
	}
	
.total2{
	width:105px;
	height:74px;
	float:left;	
	}		
		
#profil_projet{
	width:750px;
	float:left;
	margin-top:23px;
	margin-left:8px;
	}
	
	
.contain-left{
	height:10px;
/*	background:#EEF2F6;
*/	margin-left:198px;
	margin-bottom:5px;	
	width:390px;
	margin-top:-12px; 
	}	

.contain-left canvas {
	display : block;
	}

#contain1, #contain2, #contain3, #contain4, #contain5, #contain6{
	height:10px;
	background:#EEF2F6;
} 
		
	
.proj_explain{
	height:22px;
	margin-top:-8px;
	}	

.proj_explain p{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#777777;
	font-style:normal;
	margin-left:10px;
	}	

#carr1{
	height:12px;
	width:12px;
	background:#25A618;
	float:left;
	margin-left:200px;
	}
	
#carr2{
	height:12px;
	width:12px;
	background:#a3319f;
/*	background:#48587b;
*/	float:left;
	margin-left:100px;
	}

#carr3{
	height:12px;
	width:12px;
	background:#D0D644;
	float:left;
	margin-left:100px;
	}

.proj{
	margin-bottom:10px;
	height:40px;
	border: 1px solid #EEF2F6;
}

.proj h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#777777;
	font-style:normal;
	margin-left:40px;
	margin-top:-14px;}

.creat{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#777777;
	font-style:normal;
	float:right;
	margin-top:-15px;
	margin-right:10px;}

.proj-icon{
	height:15px;
	width:15px;
	background:url(../images/proj-icon2.gif);
	background-repeat:no-repeat;
	margin-top:12px;
	margin-left:15px;
	}

#trait {
    background:#EAEEF2;
    height: 1px;
    margin-bottom: 13px;
    margin-left: 8px;
    margin-top: 10px;
    width: 750px;
	}

#lastpost {
	width:750px;
	float:left;
	margin-left:8px;
	margin-bottom:-20px;
	}
	
#lastpost h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
/*	color:#48587b;*/
	color:#EE6E21;
	font-style:normal;
	margin-left:3px;
	}

#profil_comment{
	width:750px;
	float:left;
	margin-top:23px;
	margin-left:8px;
	}
	
.autor{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666768;
	margin-top:8px;
	margin-left:10px;
	}			

.min_autor{	
	width:108px;
	height:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCBCC;
	}			
	
.title{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#909090;
	margin-top:15px;
	margin-left:150px;
	width:190px;
	}
	
.title a{
	color:#909090;
	}	
	
.title a:hover{
	color:#666768;
	}
	
.date_actu{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCCBCE;
	margin-top:17px;
	margin-left:230px;
	}
