@charset "UTF-8";
/* CSS Document */

body {
	margin : 0px ;
	background:url(../images/body.png);
	background-repeat:repeat-x;
	}


#container-accueil{
	margin : 160px auto 0px auto;
	width:1000px;
	}
	
#accueil{
	border-radius: 4px;
	height:306px;
	width:520px;
	float:left;
	}
	
#accueil.b1{
	background:url(../images/network1.png);
	}

#accueil.b2{
	background:url(../images/network.png);
	}

#accueil.b3{
	background:url(../images/network2.png);
	}	
		
h1{
	color:#3C3C3C;
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.2;
	margin-left:5px;
	}
	
#wel{
	background:#FFF;
	margin-top:98px;
	}				
h1 img{
	margin-top:4px;
	margin-left:48px;
	}		