<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cortext Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Plateforme Cortext Manager" />
<meta name="keywords" content="manager,corpus,texte" />    
<link href="css/style-general.css" type="text/css" rel="stylesheet" />

</head>
<body>

<!--	<div id="header"></div>
-->  	
    <div id="menu"><img src="images/home.png" alt="" /> 
    <ul>
    <li class="menu1"><a href="#"> algues vertes</a></li>
    <li class="menu2"><a href="#"> tam kien duong</a></li>
    </ul></div>
    
    
    
    
    
	<div id="contener">
  	
    <div id="sidebar-left"></div>
    <div id="main-content"></div>
    
    
    <div id="sidebar-right">
    
    	<div id="sid1">
        <h2>start an analysis</h2>
     	<h3>add a document</h3>
        </div>
        
        <div id="sid2">
       <p></p>
        </div>
    
    
    
    
    </div>
      






	</div>

</body>
</html>
