<template  name="dashboard">
  <div id="dashboard-meta" class="col-1">
   <!-- <div class="info">
      <h3>informations</h3>
    </div>-->   
    <div class="script" id="script">
      <h3>queued scripts</h3>
      <div id="queuedScripts" class="wrapper">
      </div>
    </div><!-- /script -->
    <div id="projects-simple" class="dashboard-projects">
      <h3>projects</h3>
      <ul class="projects">
      </ul>   
        
    </div><!-- /dashboard-projects -->

<div id="link-dashboard">
<h4>go to personal dashboard</h4>
</div>


    </div><!-- /dashboard-meta -->

  <div id="dashboard" class="col-main">
    <form id="project-new">
      <input type="text" placeholder="type the name of your new project"></input>
      <button class="new">create project</button>
    </form>
    
    <div class="trace"></div>
    
    <form class="search-form" action="/">
        <input type="text"  id="search" name="searchString"/>
    </form> 

    <div id="timeline" class="projects-list">
      
    </div>
    
    
  </div><!-- /#dashboard -->

  <div class="project-meta2 col-2">

  </div><!-- /dashboard-meta2 -->
</template>