<template  name="dashboard">
  <div id="dashboard-meta" class="col-1 container-left">

    <div class="script" id="script" data-step="3" data-intro="View the scripts you launched : when you start a script it appears here and you can check its progression." >
      <h3>queued scripts</h3>
      <div id="queuedScripts" class="wrapper">
      </div>
    </div><!-- /script -->

    <div id="projects-simple" class="dashboard-projects" data-step="4" data-intro="Your project list : all projects for which you are a member, with number of participants." >
      <h3>projects</h3>
      <ul class="projects">
      </ul>   
    </div><!-- /dashboard-projects -->

    <div id="link-dashboard" data-step="6" data-intro="File manager - view and manage all your files. Upload / delete / download corpus, results,..." >
      <h4><a href="#" id="fileManager"> file manager</a></h4>
    </div>


  </div><!-- /dashboard-meta (http://dashboard.cortext.net/) -->

  <div id="dashboard" class="container-main">
    <form id="project-new" data-intro="Create your project : just type in your project name and click - Create Project : a few seconds later you will be redirected to your new project." data-step="1">
      <input type="text" placeholder="type the name of your new project"></input>
      <button class="inactive" disabled>create project</button>
    </form>
    
    <div class="trace"></div>
    
    <form class="search-form" data-step="2" data-intro="Search in existing projects : type a few keywords in this search bar to filter all your projects by name, which will appear just above this bar, in your timeline." action="/">
        <input type="text"  id="search" name="searchString"/>
    </form> 


 

    <div id="timeline" class="projects-list">
      
    </div>
    
    
  </div><!-- /#dashboard -->

  <div class="project-meta2 container-right">

<p>
  <a href="#" class="first-visit">first visit ? take the tour !</a>
</p>

  </div><!-- /dashboard-meta2 -->
</template>