<template name="dashboard_list_project">
<div id="project-{{ project.id }}" class="project">

	<h2><a href="/project/{{ project.id }}">{{ project.title }}</a></h2>

	<div class="participation">
		{{participation composition}}		
	</div>

	<div class="elements">
	</div><!-- /elements-->
</div><!-- /#project-<%= p.id %> -->
</template>

<template name="dashboard_project_element">
{{#with element}}
	<div id="{{ type }}-{{ id }}" class="{{ type }}>">	
	<div class="icons"></div>

	<div class="author"><%= p.members[e.author].name %></div>
	<div class="title"><a href="/project/{{ ../id }}#{{ type }}-{{ id }}">{{ title }}</a></div>
	<div class="date">{{date_short date }}</div>
	</div>
{{/with}}
</template>

<template name="project_simple">
		<li class="project-title">
		<a href="/project/<%= p.id %>">{{ p.title }}</a>
		<span class="members-count"><%= _.size(p.members) %></span>
		<%= templates.participation({ composition: p.members[current_user_id].participation }) %>
	</li>
</template>