<template name="welcome">

<div id="first-connection">

<h1>Welcome to Cortext Manager</h1>

<p>Flagship project of the platform Cortext, <span>Cortext Manager</span> allows members of the Cortext platform to manage their projects, analyze and view their datasets directly online.</p>

<p><span>Cortext Manager</span> provides an online application interfacing users with a range of analysis tools developed by Cortext.</p>

<p>This application allows you to upload data sets from disparate sources, initiate treatments (scripts) to perform remote analyses/maps of primary data, and share the results in collaborative projects.</p>
<p>With Cortext Manager, you can do the following tasks :</p>
<h2 id="icon-create">create a project</h2>
<h2 id="icon-corpus">upload a corpus</h2>
<h2 id="icon-script">start a script</h2>
<h2 id="icon-invite">invite a member to a project</h2>
<h2 id="icon-message">write a message and comments on elements </h2>

</div><!-- /first-connection -->

</template>