<template name="welcome">

<div id="first-connection">
    <h1>Welcome to Cortext Manager</h1>
{{#if registered}}
            <p class="welcome">Your account has been created : thank you for registering ! You can now log in by clicking on the button on the left.</p>
 {{/if}}

<p></p>
<h2 id="icon-create">create a project</h2>
<h2 id="icon-corpus">upload a corpus</h2>
<h2 id="icon-script">start a script</h2>
<h2 id="icon-invite">invite a co-worker to a project</h2>
<h2 id="icon-message">comment elements </h2>

</div><!-- /first-connection -->

</template>