<template name="welcome">

<div id="first-connection">
<h1>Welcome to Collaborative Platform</h1>
<img src="/images/logo_cortext2.png" alt="#" />

<p>This application allows you to upload data sets from disparate sources, initiate treatments (scripts) to perform remote analyses/maps of primary data, and share the results in collaborative projects.</p>
<p>With Cortext Manager, you can do the following tasks :</p>
<h2 id="icon-create">create a project</h2>
<h2 id="icon-corpus">upload a corpus</h2>
<h2 id="icon-script">start a script</h2>
<h2 id="icon-invite">invite a member to a project</h2>
<h2 id="icon-message">write a message and comments on elements </h2>

</div><!-- /first-connection -->

</template>