<template name="user">
  <div class="user-meta col-1">

    <div class="script" id="script">
      <h3>queued scripts</h3>
      <div id="queuedScripts" class="wrapper">
      </div>
    </div><!-- /script -->
  </div><!-- /user-meta -->

  <div id="user-{{ user.id }}" class="user profile col-main">
    <div class="info">
      <div id="gravatar">
        <img src="{{ user.gravatar }}" />
      </div>    
      <div>
        <h1 id="name">{{ user.name }}</h1>
        <div id="email" class="email">{{ user.email }}</div>
      </div>
      <div id="indicators">
        <div>
          <div id="indicator_projects">
            <h4>projects</h4>
            <div class="number"></div>
          </div>
          <div id="indicator_analysis">
            <h4>analysis</h4>
            <div class="number"></div>
          </div>
          <div id="indicator_documents">
            <h4>documents</h4>
            <div class="number"></div>
          </div>
          <div id="indicator_messages">
            <h4>messages</h4>
            <div class="number"></div>
          </div>
        </div>
      </div><!-- #indicators -->
    </div>
    <h2 class="Project">Projects</h2>
    <div id="projects" class="user-projects">
    </div>
    <h2 class="Recent">Recent messages</h2>
    <div id="messages" class="user-messages">
    </div>
  </div><!-- /.user -->

  <div class="project-meta2 col-2">

  </div><!-- /user-meta2 -->
</template>